# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
*.pyc
*.exe
*.exe~
*.dll
*.so
*.dylib
.dccache

# Testing
coverage.txt
yarn.lock

# IDE
.idea/
.vscode/
*.iml
*.code-workspace

# Node.js
**/node_modules

# OpenZeppelin contracts
contracts/@openzeppelin/*

# Build files
evmd/build/

build/

tests/systemtests/binaries
tests/systemtests/testnet
.testnets

# External testing dependencies
tests/evm-tools-compatibility/foundry-uniswap-v3/forge-std/
tests/evm-tools-compatibility/foundry-uniswap-v3/foundry/
tests/evm-tools-compatibility/foundry/forge-std/
